node_modules/
www/
test-results/
playwright-report/
native/App/App/public/
native/App/App/capacitor.config.json
native/App/App/config.xml
native/App/CapApp-SPM/.build/
native/App/Pods/
native/App/build/
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.ipa
*.xcarchive
*.p12
*.p8
*.mobileprovision
.DS_Store
